**/.git
**/.gitignore
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.env
**/.venv
**/env/
**/venv/
**/.tox/
**/.coverage
**/.pytest_cache
**/.mypy_cache
**/htmlcov/
**/build/
**/dist/
**/*.egg-info/
